.navbar{
    margin-top:40px;
}
.nav-item{
    margin-right: 20px;
    letter-spacing: 1px;
}

.material-symbols-outlined{
    font-size: 45px;
    color:rgb(65, 111, 197);
    
}
.logo-nav{
    font-weight: bold;
}
.logo{
    width:90px;
    height:50px;
    margin-bottom:-10px;
}
.navbar-brand{
    margin:0 3px;
    padding:0;
   
    font-size: 82px;
    margin: -29px 3px
}
.services-nav{
    margin-top:-15px
}
@media only screen and (max-width: 416px) {
     .navbar-toggler{
        margin-left:10px;
     }
 }
 @media only screen and (max-width: 994px) {
     .logo-text{
        align-self: start;
    }
}