.schedule{
    width:40%;
    margin: 40px auto;
    font-family:sans-serif;
}
.schedule-h3{
    margin: 30px 0;
    color:rgb(73, 182, 73);
    text-decoration: none;
    font-size: 30px;
}
.schedule-h3:hover{
    color:rgb(73, 182, 73);
}
.schedule-p{
    font-size: large;
}
.wrapper-schedule{
    padding: 5PX 20px;
    text-align: start;
}
label{
    font-weight: bold;
    width:30%;
    padding-right:10px;

}
input{
    margin:5px;
    border-radius: 5px;
    border: 1px solid rgb(136, 135, 135);
}
input :hover{
    border:1px solid rgb(155, 153, 153);
}
.btn{
    margin-left:0;
    margin-top:20px;
    border:none;
    border-radius: 10px;
    color:white;
    background-color: rgb(73, 182, 73);
    padding: 7px 40px;
    transition: all .5s ease-in-out;
}
.btn:hover{
    background-color: rgb(73, 182, 73);
    color:white;
    padding:8px 50px;
    transform: scale(1.1); 
    font-size: 25px;
    
}
@media only screen and (max-width: 1890px) {
    .schedule{
       width:50%;
    }
    .wrapper{
        text-align: start;
    }
    
 }
 @media only screen and (max-width: 768px){
    .schedule {
     width: 85%;
     }
}
@media only screen and (max-width: 490px){
    .schedule {
     width: 85%;
     }
     label{
        width:41%;
     }
     .wrapper {
        padding: 5PX 0px;
    }
}
@media only screen and (max-width: 420px){
    .schedule {
     width: 85%;
     }
     label{
        width:100%;
     }
     .wrapper {
        padding: 5PX 0px;
    }
}