.service-area{
    padding:20px 0;
}
.about-content{
    background-image: url(https://dm0qx8t0i9gc9.cloudfront.net/thumbnails/image/rDtN98Qoishumwih/lightgreypolkadots-12-091815-644_thumb.jpg);
    padding:70px 0;
}
.tony-img{
    padding: 0%;
    margin: 0%;
    width:60%;
    height:400px;
    border-radius: 5px;
    margin-left:40%;
}
.about-info{
    text-align: start;
}
.about-text{
    width: 75%;
    font-size: 18px;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Lexend Exa', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Sono', sans-serif;

}
.brand{
    width:80%;
    height:100px;
    border-radius: 10px;
}
.service-area{
    font-size: 18px;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Lexend Exa', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Sono', sans-serif;
}