.wrapper{
    padding: 10PX 20px;
    text-align: start;
    background-color: rgb(11, 30, 46);
    width:100%;
    margin:60px 0 0 20px;
    border-radius: 10px;   
    height: 360px;
}

input{
    margin:5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(136, 135, 135);
}
input :hover{
    border:1px solid rgb(155, 153, 153);
}
.Contact-btn{
    margin-left:0;
    margin-top:10px;
    border:none;
    border-radius: 10px;
    color:white;
    background-color: rgb(73, 182, 73);
    padding: 7px 40px;
    color:white;
}
@media only screen and (max-width: 1030px) {
    .wrapper{
        display: none;
    }
 }