.content{
    background-image: 
    url("https://www.plm.automation.siemens.com/media/global/en/Modular_hvac_design_u_tcm27-88180.jpg");
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    color:white;
    background-size: 100% 100%;
    display: flex;
    flex-direction: row;
    text-align: start;
    justify-content: center;
  }
.main{
    margin-top:60px;
    padding:30px;
    background-color: rgb(11, 30, 46);
    border-radius:10px;
    border:1px white dashed;
    height: 360px;
}
.main-h1{
    margin-bottom:40px;
}
.main-phone{
    padding:40px 10px 10px 10px;
    background-color: rgb(238, 195, 75);
    align-items: center;
    width:40%;
    text-align: center;
    border-radius: 20px;
    margin:auto;
    color:rgb(11, 30, 46);;
}
.main-phone:hover{
    background-color: rgb(243, 182, 16);
    color:white;
}
.wraper{
    background-color: rgb(11, 30, 46);
}
.contain-description{
    width:65%;
    margin: auto;
    margin:50px auto;
    letter-spacing: 2px;
}
.contain-h2{
    padding:30px 0;
    font-size: 20px;
}
.content-p{
    width:80%;
    margin:auto;
    font-size: 22px;
    padding-bottom: 40px;
    line-height: 28px;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Sono', sans-serif;
    font-family: 'Lexend Exa', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.carousel-item{
    height:300px;
}
.testimonials{
    width:70%;
    padding:20px;
    margin-bottom:140px;
}